* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(103, 103, 103);
    /*background-image: linear-gradient(to right, rgb(201, 201, 201) 0%, rgb(105, 105, 105) 70%, #3a3a3a 100%);*/
    background-image: url(images/EVA\ Background\ 2.jpg);
    /*background-size: contain;*/
    background-attachment: fixed;
    background-size: 100vw;
}



.navbar {
    /*background-color: #878787;
    background-image: linear-gradient(to bottom, rgb(77, 77, 77) 0%, #181818 100%);*/

    background-color: rgb(87, 87, 87);
    background-image: url(images/EVA\ Background\ 2.jpg);
    height: 12vh;
    /*display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;*/
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar__background {
    background-image: linear-gradient(to top, rgba(0, 0 ,0, 0.7) 0%, rgba(153, 153, 153, 0.2) 40%, rgba(153, 153, 153, 0.6) 100%);
    height: 12vh;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar__container {
    background-image: url(images/OG3.png);
    background-size: 24vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.logo__container {
    display: flex;
    z-index: 2;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.archive__logo__container {
    display: flex;
    z-index: 2;
    height: 100%;
    width: 100%;
    align-items: left;
    padding: 0px 15px;
    justify-content: left;
}

#navbar__logo {
    height: 105%;
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#nav__logo {
    height: 100%;
    width: auto;
}





.background {
    /*background: #7d7b81;*/
    /*background-image: linear-gradient(to right, rgb(201, 201, 201) 0%, rgb(105, 105, 105) 70%, #3a3a3a 100%);*/
}

.main__background--img {
    /*background-image: url(images/background3.png);
    background-image: url(images/EVA\ Background\ Big.png);
    background-size: contain;
    background-size: 250px auto;*/

    background-image: url('images/Eva\ Background\ 6.png');
    background-position-y: 14vh;
    background-size: 280px;
    background-attachment: fixed;
    background-position: fixed;
    position: sticky;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.main__container {
    /*font-family: "Kumbh Sans", sans-serif;*/
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    display: flex;
    text-align: left;
    /*border:#373737;
    border-style: solid;*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.main__container h1 {
    /*border:#373737;
    border-style: solid;*/
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
    width: 92vw;
    font-size: 3rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #151515 0%, #a2a2a2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 1rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}
.main__container h2 {
    /*border:#373737;
    border-style: solid;*/
    margin: 0.5rem;
    margin-top: 2.5rem;
    font-size: 2rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    background-color: #fff;
    background-image: linear-gradient(to top, #151515 0%, #a2a2a2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: .7rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.main__container h3 {
    top: 30px;
    font-size: 0.85rem;
    position:relative;
    color: rgb(255, 255, 255);
    opacity: 90%;
    margin-top: 4vh;
    margin-bottom: 15vh;
}

.main__container h4 {
    /*border:#373737;
    border-style: solid;*/
    margin-top: 3rem;
    font-size: 1.3rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    background-color: #fff;
    background-image: linear-gradient(to top, #151515 0%, #a2a2a2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.45rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
}

.main__products__container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*border:#373737;
    border-style: solid;*/
    outline:rgba(0, 0, 0, 0.2);
}





#painting {
    --h: 380px;
    height: var(--h);
    margin: 1rem;
    background-size: cover;
    position: relative;
    color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

#painting:nth-child(1) {
    background-image: url('images/crazypainting2b.jpg');
    width: calc(var(--h)*(26/35));
    aspect-ratio: 26/35;
}

#painting:nth-child(2) {
    background-image: url('images/crazypaintingb.jpg');
    width: calc(var(--h)*(13/16));
    aspect-ratio: 13/16;
}

#painting:nth-child(3) {
    background-image: url('images/8b.jpg');
    width: calc(var(--h)*(26/33));
    aspect-ratio: 26/33;
}

#painting:nth-child(4) {
    background-image: url('images/10b.jpg');
    width: calc(var(--h)*(25/34));
    aspect-ratio: 25/34;
}

#painting:nth-child(5) {
    background-image: url('images/9b.jpg');
    width: calc(var(--h)*(26/35));
    aspect-ratio: 26/35;
}

#painting:hover {
    transform: scale(1.025);
    transition: 0.2 ease-in;
    cursor: pointer;
}






#garment {
    --h: 340px;
    height: var(--h);
    display: block;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

#garment:hover {
    transform: scale(1.025);
    transition: 0.2 ease-in;
    cursor: pointer;
}

#garment:nth-child(1) {
    background-image: url('images/garm1a.jpg');
    width: calc(var(--h));
    aspect-ratio: 1;
}







#digital {
    --h: 380px;
    height: var(--h);
    display: block;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

#digital:nth-child(1) {
    background-image: url('images/pnt14b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#digital:nth-child(2) {
    background-image: url('images/pnt12b.jpg');
    width: calc(var(--h)*(33/42));
    aspect-ratio: 33/42;
}

#digital:nth-child(6) {
    background-image: url('images/pnt13b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#digital:nth-child(5) {
    background-image: url('images/pnt10b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#digital:nth-child(7) {
    background-image: url('images/pnt11b.jpg');
    width: calc(var(--h)*(5/4));
    aspect-ratio: 5/4;
}

#digital:nth-child(4) {
    background-image: url('images/pnt7b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#digital:nth-child(8) {
    background-image: url('images/pnt2b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#digital:nth-child(10) {
    background-image: url('images/pnt9b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#digital:nth-child(9) {
    background-image: url('images/pnt15b.jpg');
    width: var(--h);
    aspect-ratio: 1;
}

#digital:nth-child(11) {
    background-image: url('images/pnt18b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;

}

#digital:nth-child(12) {
    background-image: url('images/pnt16b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#digital:nth-child(3) {
    background-image: url('images/pnt22b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#digital:nth-child(13) {
    background-image: url('images/pnt24b.jpg');
    width: calc(var(--h)*(11/14));
    aspect-ratio: 11/14;
}

#digital:nth-child(14) {
    background-image: url('images/pnt23b.jpg');
    width: calc(var(--h)*(700/902));
    aspect-ratio: 700/902;
}

#digital:nth-child(15) {
    background-image: url('images/pnt25b.jpg');
    width: calc(var(--h)*(11/14));
    aspect-ratio: 11/14;
}

#digital:hover {
    transform: scale(1.025);
    transition: 0.2 ease-in;
    cursor: pointer;
}





.portfolio__page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolio__img {
    margin-top: 0.5vh;
    /* margin-right: 2rem; */
    /* margin-left: 3rem; */
    height: 80vh;
    width: auto;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 14px rgba(0, 0, 0, 0.2);
}

.portfolio__img--container {
}

.portfolio__details {
    margin-left: 2rem;
    /* margin-left: 2rem; */
    /* margin-right: 3rem; */
    /* display: flex; */
    text-align: center;
    /*font-family: "Kumbh Sans", sans-serif;*/
    font-family: 'Roboto', 'Roboto';
    position: relative;
    height: 70vh;
    width: 25vw;
}

.portfolio__details h1 {
    font-size: 2.5rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgba(200, 200, 200, 0);
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(238, 238, 238);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.portfolio__details h2 {
    font-size: 1.3rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    padding-top: 7px;
    padding-bottom: 0px;
    background-color: #fff;
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.portfolio__details h3 {
    margin-bottom: 1vh;
    font-size: 0.9rem;
    position: relative;
    color: rgb(203, 203, 203);
    opacity: 100%;
}

.portfolio__details h4 {
    font-size: 1.5rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/  
    background-color: #fff;
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.45rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.portfolio__details h5 {
    font-size: 1rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/  
    background-color: #fff;
    margin-bottom: 2vh;
    margin-top: 1vh;
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.35rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.portfolio__details p {
    margin-bottom: 1vh;
    font-size: 0.85rem;
    position:relative;
    color: rgb(255, 255, 255);
    opacity: 100%;
}





.product__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 88vh;
}

.product__page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product__img--container {
    text-align: center;
}

#product__img {
    margin: 1rem;
    /* margin-right: 2rem; */
    /* margin-left: 3rem; */
    height: 75vh;
    width: auto;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 14px rgba(0, 0, 0, 0.2);
}

#garment__img {
    margin: 1rem;
    /* margin-right: 2rem; */
    margin-left: 1.5rem;
    height: 68vh;
    width: auto;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 14px rgba(0, 0, 0, 0.2);
}

.product__details {
    margin: 1rem;
    /* margin-left: 2rem; */
    /* margin-right: 3rem; */
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
    /*font-family: "Kumbh Sans", sans-serif;*/
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 45vw;
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

.garment__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0vh;
}

.garment__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.garment__img__container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.garm__butt {
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 6px;
    background: none;
    display: inline-block;
    width: 85px;
    height: 85px;
    background-size: cover;

    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5), 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.garm__butt:nth-child(1) {
    background-image: url('images/garm1a.jpg');
}
.garm__butt:nth-child(2) {
    background-image: url('images/garm1b.jpg');
}
.garm__butt:nth-child(3) {
    background-image: url('images/garm1c.jpg');
}
.garm__butt:nth-child(4) {
    background-image: url('images/garm1d.jpg');
}

.garm__butt:hover {
    transform: scale(1.025);
    transition: 0.2 ease-in;
    cursor: pointer;
}

.product__details h1 {
    font-size: 2.9rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: .9rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.product__details h2 {
    font-size: 2rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    padding-top: 7px;
    padding-bottom: 0px;
    background-color: #fff;
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: .5rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.product__details h3 {
    font-size: 1rem;
    /*text-shadow: 0px 0px 40px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #1e1e1e 0%, rgb(111, 111, 111) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: .8rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.15);
    -moz-text-fill-color: transparent;
    -webkit-appearance: none;
}

.product__details p {
    font-size: 1.15rem;
    /*text-shadow: 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 2);*/
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to top, #7e7e7e 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-appearance: none;
}

.digital__prices h2 {
    font-size: 1.5rem;
}

.garment__details {
    margin: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 45vw;
}

.garment__details h1 {
    font-size: 2.7rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: .9rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.garment__details h2 {
    font-size: 2.4rem;
    padding-top: 7px;
    padding-bottom: 0px;
    background-color: #fff;
    background-image: linear-gradient(to top, #202020 0%, #949494 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: .7rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.garment__details h3 {
    font-size: 2rem;
    padding-top: 7px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #1e1e1e 0%, rgb(111, 111, 111) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: .7rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -moz-text-fill-color: transparent;
    -webkit-appearance: none;
}

.garment__details h4 {
    font-size: .9rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #1e1e1e 0%, rgb(111, 111, 111) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: .8rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.15);
    -moz-text-fill-color: transparent;
    -webkit-appearance: none;
}

.garment__details h5 {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #1e1e1e 0%, rgb(111, 111, 111) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: .8rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.15);
    -moz-text-fill-color: transparent;
    -webkit-appearance: none;
}




#archive__img {
    margin: 1rem;
    height: 400px;
    width: auto;
    max-width: 85vw;
    background-size: cover;
    position: relative;
    color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

#archive__link {
    --h: 350px;
    height: var(--h);
    display: block;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

#archive__link:hover {
    transform: scale(1.025);
    transition: 0.2 ease-in;
    cursor: pointer;
}

#archive__link:nth-child(36) {
    background-image: url('images/pnt25b.jpg');
    width: calc(var(--h)*(11/14));
    aspect-ratio: 11/14;
}

#archive__link:nth-child(35) {
    background-image: url('images/pnt24b.jpg');
    width: calc(var(--h)*(11/14));
    aspect-ratio: 11/14;
}

#archive__link:nth-child(34) {
    background-image: url('images/pnt23b.jpg');
    width: calc(var(--h)*(700/902));
    aspect-ratio: 700/902;
}

#archive__link:nth-child(33) {
    background-image: url('images/pnt22b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(32) {
    background-image: url('images/pnt21b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(31) {
    background-image: url('images/pnt14b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#archive__link:nth-child(30) {
    background-image: url('images/pnt13b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(29) {
    background-image: url('images/pnt12b.jpg');
    width: calc(var(--h)*(11/14));
    aspect-ratio: 11/14;
}

#archive__link:nth-child(28) {
    background-image: url('images/pnt11b.jpg');
    width: calc(var(--h)*(5/4));
    aspect-ratio: 5/4;
}

#archive__link:nth-child(27) {
    background-image: url('images/pnt15b.jpg');
    width: calc(var(--h)*(1/1));
    aspect-ratio: 1/1;
}

#archive__link:nth-child(26) {
    background-image: url('images/pnt10b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(25) {
    background-image: url('images/pnt2b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(24) {
    background-image: url('images/pnt8b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#archive__link:nth-child(23) {
    background-image: url('images/pnt9b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#archive__link:nth-child(22) {
    background-image: url('images/pnt19b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#archive__link:nth-child(21) {
    background-image: url('images/pnt7b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#archive__link:nth-child(20) {
    background-image: url('images/pnt20b.jpg');
    width: calc(var(--h)*(5/4));
    aspect-ratio: 5/4;
}

#archive__link:nth-child(19) {
    background-image: url('images/pnt16b.jpg');
    width: calc(var(--h)*(5/6));
    aspect-ratio: 5/6;
}

#archive__link:nth-child(18) {
    background-image: url('images/pnt6b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(17) {
    background-image: url('images/pnt4b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(16) {
    background-image: url('images/pnt3b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(15) {
    background-image: url('images/pnt18b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(14) {
    background-image: url('images/crazypainting2b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(13) {
    background-image: url('images/crazypaintingb.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(12) {
    background-image: url('images/10b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(11) {
    background-image: url('images/9b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(10) {
    background-image: url('images/8b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(9) {
    background-image: url('images/7b.jpg');
    width: calc(var(--h)*(3/4));
    aspect-ratio: 3/4;
}

#archive__link:nth-child(8) {
    background-image: url('images/6b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(7) {
    background-image: url('images/5b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(6) {
    background-image: url('images/4b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(5) {
    background-image: url('images/pnt1b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(4) {
    background-image: url('images/pnt17b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(3) {
    background-image: url('images/3b.jpg');
    width: calc(var(--h)*(4/5));
    aspect-ratio: 4/5;
}

#archive__link:nth-child(2) {
    background-image: url('images/2b.jpg');
    width: calc(var(--h)*(14/18));
    aspect-ratio: 14/18;
}

#archive__link:nth-child(1) {
    background-image: url('images/1b.jpg');
    width: calc(var(--h)*(2195/2818));
    aspect-ratio: 2195/2818;
}

.archive__link__container {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /*border:#373737;
    border-style: solid;*/
}

.archive__page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    /*font-family: "Kumbh Sans", sans-serif;*/
    font-family: 'Roboto', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
}

.archive__page h1 {
    /*border:#373737;
    border-style: solid;*/
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #151515 0%, #c1c1c1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 1rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.28);
    -webkit-appearance: none;
}

.archive__page h3 {
    top: 30px;
    /*font-family: "Kumbh Sans", sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    position:relative;
    color: #fff;
    opacity: 70%;
    margin-top: 2vh;
    margin-bottom: 15vh;
}

.archive__page h4 {
    /*border:#373737;
    border-style: solid;*/
    margin-top: 2.5rem;
    font-size: 1.3rem;
    /*text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);*/
    background-color: #fff;
    background-image: linear-gradient(to top, #151515 0%, #a2a2a2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.45rem;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
}



@media screen and (max-width: 2000px) {

    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .main__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #product {
        height: 530px;
        width: 400px;
    }
}

@media screen and (max-width: 1300px) {

    #product {
        height: 360px;
        width: 270px;
    }
}

@media screen and (max-width: 1245px) {

    .product__details h1 {
        font-size: 2.7rem;
    }

    .product__details p {
        font-size: 1.1rem;
    }

    #product__img {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 1100px) {
    .product__details h1 {
        font-size: 2.2rem;
    }

    .product__details h2 {
        font-size: 1.8rem;
    }

    .product__details h3 {
        font-size: 0.8rem;
    }

    .product__details p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .product__container {
        height: fit-content;
    }

    #product__img {
        margin-top: 10vh;
    }

    .product__details {
        width: 75vw;
    }
    
    #product__img {
        height: 65vh;
        width: auto;
    }

    .portfolio__page {
        margin-top: 4vh;
    }

}

@media screen and (max-width: 620px) {

    .product__container {
        height: fit-content;
    }

    #product__img {
        margin-top: 10vh;
    }

    .product__details h1 {
        font-size: 2.2rem;
    }

    .product__details h2 {
        font-size: 1.5rem;
    }

    .product__details h3 {
        font-size: 0.8rem;
    }

    .product__details p {
        font-size: 0.95rem;
    }
    
    #painting {
        max-width: 85vw;
        height: auto;
    }

    #digital {
        max-width: 85vw;
        height: auto;
    }

    #archive__link {
        max-width: 85vw;
        height: auto;
    }
}

/* --Mobile Version-- */

@media screen and (max-width: 600px){

    .garment__buttons {
        justify-content: center;
        flex-direction: row;
    }

    .garment__img__container {
        flex-direction:row-reverse;
        flex-wrap: wrap-reverse;
    }

    #garment__img {
        margin: 1rem;
        margin-top: 1.5rem;
        height: 75vw;
        width: auto;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5), 0px 0px 12px 14px rgba(0, 0, 0, 0.2);
    }

    .garment__details {
        width: 80vw;
    }

    .garment__details h1 {
        font-size: 2.4rem;
        -webkit-text-stroke-width: .8rem;
    }

    .garment__details h2 {
        font-size: 2.3rem;
        -webkit-text-stroke-width: .7rem;
        margin-bottom: 0vh;
    }

    .garment__details h3 {
        margin-bottom: 0vh;
    }

    .garm__butt {
        padding: 0px;
        margin: 6px;
        width: 17vw;
        height: 17vw;
    
        box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5), 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
    }

    #portfolio__img {
        margin-top: 5vh;
        margin-bottom: auto;
        width: 75vw;
        height: auto;
    }

    .portfolio__details {
        width: 90vw;
        height: auto;
        margin-left: 0vh;
        margin-bottom: 7vh;
    }

    .portfolio__details h1 {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .portfolio__details h4 {
        margin-top: 0vh;
    }

    .product__container {
        height: fit-content;
    }

    .product__details {
        width: 90vw;
        height: auto;
    }

    .product__details h1 {
        font-size: 2.2rem;
        text-shadow: none;
        /*-webkit-text-stroke-color:rgba(0, 0, 0, 0.7);
        -webkit-text-stroke-width: 1px;*/
    }

    .product__details h2 {
        font-size: 1.8rem;
        text-shadow: none;
        /*-webkit-text-stroke-color:rgba(0, 0, 0, 0.5);
        -webkit-text-stroke-width: 1px;*/
    }

    .product__details h3 {
        font-size: 1.2rem;
        margin-bottom: 4vh;
        text-shadow: none;
        /*-webkit-text-stroke-color:rgba(0, 0, 0, 0.8);
        -webkit-text-stroke-width: 0.5px;*/
    }

    .product__details p {
        font-size: 1.2rem;
        text-shadow: none;
        /*-webkit-text-stroke-color:rgba(0, 0, 0, 0.8);
        -webkit-text-stroke-width: 0.4px;*/
    }

    .product__details p span {
        background-color: rgba(0, 0, 0, 0.3);
    }

    #product__img {
        margin-top: 7vh;
        margin-bottom: auto;
        width: 75vw;
        height: auto;
    }

    .archive__page {
        height: fit-content + 10vh;
    }

    .main__container h1 {
        width: 85vw;
    }

}